html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #f1f1f1;
}
:root {
  --amplify-primary-color: #436083;
  --amplify-primary-tint: #5e00aa;
  --amplify-primary-shade: #202a36;
}

.clickable:hover {
  color: #5e00aa;
  cursor: pointer;
  font-size: 1.05em;
}
